$ff-manrope: "Manrope", sans-serif;

$c-Very-Dark-Grayish-Blue: #48556a;
$c-Desaturated-Dark-Blue: #6d7f97;
$c-Grayish-Blue: #9eafc2;
$c-Light-Grayish-Blue: #ecf2f8;

body {
	background: $c-Light-Grayish-Blue;
}
