* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font: inherit;
}
*::before,
*::after {
	box-sizing: border-box;
}
a {
	color: black;
}
ul,
li {
	list-style: none;
}
img,
svg {
	display: block;
	max-width: 100%;
}
svg {
	color: inherit;
}
input {
	outline: none;
}
button {
	-webkit-appearance: none;
	border-radius: 0;
	text-align: inherit;
	background: none;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
}
